<style>
html {
  font-size:100%;
  overflow-y:scroll;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%
}
h1,h2 {
  margin-top: 1.5em;
}
body {
  font-size:19px;
  word-break:break-word;
  line-height:1.5em;
  padding:1em;
  margin:auto;
  max-width:52em;
  background-color:#242b33;
  color: #fff;
}
a {
  color: #fff;
}
.header-image {
  border-radius:50%;
  margin-right:.5em
}
code {
  white-space:pre;
  white-space:pre-wrap;
  word-wrap:break-word;
  padding:3px;
  border-radius:5px
}
pre>code {
  display:block;
  padding:10px 15px
}
nav {
  text-transform:lowercase;
  display:flex;
  align-items:center;
  /* justify-content:space-between */
}
nav ul {
  margin:0;
  padding:0;
  list-style-type:none;
  overflow:hidden
}
nav ul.links {
  display:flex;
  flex-direction:row
}
nav ul li {
  display:inline-block;
  list-style-type:none
}
nav>div>ul>li>a {
  display:block;
  line-height:2em;
  padding:.5em 0em;
  text-decoration:none
}
nav>div {
  display:flex;
  align-items:center;
  flex-direction:row-reverse
}
nav>div.nav-right>ul>li>a {
  padding:.5em .5em
}
nav>div>ul>li>a:hover {
}
.nav-left {
  float:left
}
.nav-left ul li {
  float:left
}
.nav-right ul li,
.nav-right ul {
  float:right
}
.logo {
  margin-right:.5em
}
div.container img {
  margin:1em 0
}
p.date {
  font-size:13px;
}
ul.articles {
  list-style:none;
  padding:0
}
ul.articles li {
  padding-bottom:10px
}
</style>
